.btn-filter, .btn-filter-active, .end-button {
    background-color: #A7B0BE;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 11px 78px;
    border: unset;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}

.btn-filter-active, .end-button {
    background-color: var(--color-primary);
}

.button-visible {
    opacity: 100%;
}

.button-invisible {
    opacity: 0%;
}

.scroll-button {
    position: fixed;
    top: 580px;
    left: 1300px;
    border: unset;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    color: #717780;
    font-size: 18px;
    font-weight: 700;
}
