@import './alignments.css';
@import './buttons.css';
@import './margins.css';
@import './responsive.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    --color-primary: #6324C6;
}

body {
    max-width: 1440px;
}

header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    background-color: var(--color-primary);
}

header span {
    color: orange;
}

.container {
    max-width: 100%;
    margin: 0 57px;
}

body .app-dark {
    color: rgb(211, 211, 211);
    background-color: rgb(36, 36, 36);
}

body .app-dark h1 button {
    color: rgb(211, 211, 211);
}

.dark-mode, .light-mode {
    position: absolute;
    right: 19px;
    top: 30px;
    width: 35px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
