@media screen and (max-width: 670px) {
    img {
        width: 57px;
        height: 57px;
    };

    header {
        width: 100%;
    };

    .btn-filter, .btn-filter-active {
        width: 100px;
        padding: 10px;
        font-size: 18px;
    };
    
    .end-button {
        padding: 5px 26px;
    };

    .dark-mode, .light-mode {
        position: absolute;
     };
}