@media only screen and (max-width: 640px) {
    img {
        width: 57px;
        height: 57px;
    }

    header {
        width: 100%;
    }

    .container {
        width: 91%;
    }

    .btn-filter, .btn-filter-active {
        width: 100px;
        padding: 10px;
        font-size: 18px;
    }
    
    .end-button {
        padding: 5px 26px;
    }

    .dark-mode, .light-mode {
        position: absolute;
     }
}

@media only screen and (min-width: 1440px) {

    body {
        min-width: 1600px;
    }

    header {
        width: 100%;
    }

    .container {
        width: 92%;
    }
}